@import url('https://fonts.googleapis.com/css2? family= Anek+Telugu:wght@300 & display=swap');
body {
    background-color :black;

    }

#login {
 background-color: pink;
display: flex;
justify-content: center;
text-align: center;

}

.card-content-area  {
display: flex;
flex-direction: column;
padding:15px 0;
align-items: center;
}

.card-content-area input {
width: 350px;
height: 43px;
padding: 10px;
border: 2px solid ;
margin-top: 25px;

}


.card-footer {
    display: flex;
    flex-direction: column;
}



.card-footer input .botaocad{
width: 70%;
height: 45px;

}

.card-footer .botaocad{
width: 100%;
height: 45px;

}


